*,
*::after,
*::before {
	box-sizing: border-box;
}

/*-----------munem.net---------------*/

html {
  height: 100%;
  background-color: #03082d;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 887px 1488px #FFF , 160px 1839px #FFF , 1749px 346px #FFF , 830px 1846px #FFF , 919px 741px #FFF , 573px 1975px #FFF , 1883px 908px #FFF , 283px 311px #FFF , 1690px 1881px #FFF , 1344px 998px #FFF , 525px 1980px #FFF , 1929px 1896px #FFF , 677px 343px #FFF , 269px 656px #FFF , 791px 1777px #FFF , 1261px 1680px #FFF , 1602px 159px #FFF , 1848px 318px #FFF , 926px 104px #FFF , 929px 1167px #FFF , 1059px 568px #FFF , 23px 1484px #FFF , 107px 78px #FFF , 478px 1384px #FFF , 761px 1635px #FFF , 1621px 1675px #FFF , 1361px 1312px #FFF , 817px 153px #FFF , 75px 1852px #FFF , 1587px 1474px #FFF , 1279px 1px #FFF , 1459px 535px #FFF , 482px 1246px #FFF , 1822px 1646px #FFF , 1703px 491px #FFF , 1737px 1606px #FFF , 1851px 741px #FFF , 1110px 333px #FFF , 804px 702px #FFF , 858px 1189px #FFF , 1227px 58px #FFF , 1617px 1053px #FFF , 1982px 539px #FFF , 1640px 296px #FFF , 1783px 1997px #FFF , 1963px 1946px #FFF , 1712px 827px #FFF , 1317px 1319px #FFF , 916px 826px #FFF , 164px 291px #FFF , 1101px 1989px #FFF , 1652px 284px #FFF , 1145px 692px #FFF , 33px 1672px #FFF , 1124px 906px #FFF , 945px 1317px #FFF , 720px 771px #FFF , 1997px 980px #FFF , 615px 260px #FFF , 1884px 278px #FFF , 629px 322px #FFF , 1852px 1671px #FFF , 728px 1989px #FFF , 1586px 70px #FFF , 1366px 878px #FFF , 1604px 147px #FFF , 1701px 1832px #FFF , 1914px 1644px #FFF , 885px 1358px #FFF , 559px 1014px #FFF , 194px 1003px #FFF , 1019px 1278px #FFF , 1216px 1988px #FFF , 1441px 992px #FFF , 838px 1462px #FFF , 1773px 259px #FFF , 420px 485px #FFF , 239px 480px #FFF , 1470px 761px #FFF , 1969px 1672px #FFF , 272px 294px #FFF , 627px 1528px #FFF , 1376px 1888px #FFF , 1240px 1340px #FFF , 1593px 1648px #FFF , 1726px 900px #FFF , 800px 1238px #FFF , 1px 709px #FFF , 311px 444px #FFF , 1771px 1018px #FFF , 914px 83px #FFF , 500px 578px #FFF , 44px 1529px #FFF , 766px 419px #FFF , 1390px 1428px #FFF , 1848px 947px #FFF , 391px 159px #FFF , 967px 797px #FFF , 35px 702px #FFF , 1491px 1809px #FFF , 569px 1758px #FFF , 1435px 1701px #FFF , 1052px 778px #FFF , 542px 91px #FFF , 678px 1234px #FFF , 518px 940px #FFF , 1px 616px #FFF , 561px 1832px #FFF , 281px 198px #FFF , 1055px 1216px #FFF , 1596px 1133px #FFF , 1685px 1701px #FFF , 808px 968px #FFF , 1044px 1103px #FFF , 739px 1395px #FFF , 296px 625px #FFF , 869px 340px #FFF , 1149px 1200px #FFF , 1422px 1424px #FFF , 1053px 446px #FFF , 1985px 124px #FFF , 89px 1289px #FFF , 657px 1401px #FFF , 555px 1355px #FFF , 1678px 1984px #FFF , 1611px 1201px #FFF , 1298px 1167px #FFF , 531px 90px #FFF , 162px 402px #FFF , 1401px 1506px #FFF , 1453px 1773px #FFF , 862px 510px #FFF , 857px 1548px #FFF , 838px 433px #FFF , 422px 943px #FFF , 832px 538px #FFF , 1167px 1687px #FFF , 829px 414px #FFF , 401px 389px #FFF , 862px 1025px #FFF , 1845px 14px #FFF , 311px 1362px #FFF , 1244px 113px #FFF , 1648px 540px #FFF , 1751px 935px #FFF , 1488px 1864px #FFF , 1647px 1284px #FFF , 227px 270px #FFF , 115px 1667px #FFF , 258px 1672px #FFF , 1432px 301px #FFF , 1179px 752px #FFF , 1143px 1422px #FFF , 762px 434px #FFF , 526px 1707px #FFF , 1297px 1729px #FFF , 848px 1868px #FFF , 280px 995px #FFF , 1274px 356px #FFF , 357px 349px #FFF , 1854px 879px #FFF , 814px 1140px #FFF , 475px 1679px #FFF , 1239px 705px #FFF , 1836px 1761px #FFF , 1213px 1522px #FFF , 1800px 753px #FFF , 1800px 940px #FFF , 1426px 723px #FFF , 322px 897px #FFF , 242px 1236px #FFF , 1188px 1553px #FFF , 1877px 771px #FFF , 439px 1648px #FFF , 1004px 452px #FFF , 719px 633px #FFF , 1518px 1276px #FFF , 1965px 1402px #FFF , 622px 1007px #FFF , 1905px 1427px #FFF , 392px 282px #FFF , 1677px 1910px #FFF , 534px 457px #FFF , 1049px 617px #FFF , 886px 957px #FFF , 537px 85px #FFF , 1789px 65px #FFF , 726px 405px #FFF , 1518px 931px #FFF , 100px 886px #FFF , 502px 673px #FFF , 1367px 803px #FFF , 1127px 1916px #FFF , 1181px 173px #FFF , 407px 447px #FFF , 761px 236px #FFF , 1988px 1782px #FFF , 965px 624px #FFF , 1310px 1492px #FFF , 875px 1696px #FFF , 1192px 545px #FFF , 1014px 817px #FFF , 842px 822px #FFF , 429px 1862px #FFF , 614px 1470px #FFF , 137px 234px #FFF , 1385px 1678px #FFF , 1744px 251px #FFF , 493px 687px #FFF , 1019px 19px #FFF , 129px 157px #FFF , 344px 75px #FFF , 1839px 672px #FFF , 1488px 1901px #FFF , 325px 303px #FFF , 1497px 92px #FFF , 1053px 1881px #FFF , 801px 719px #FFF , 449px 1605px #FFF , 1273px 1863px #FFF , 757px 948px #FFF , 1009px 1384px #FFF , 1907px 644px #FFF , 1286px 1731px #FFF , 1151px 418px #FFF , 1087px 1632px #FFF , 1728px 1792px #FFF , 2000px 691px #FFF , 1449px 1745px #FFF , 62px 1154px #FFF , 62px 1020px #FFF , 1120px 1793px #FFF , 675px 1795px #FFF , 797px 1542px #FFF , 1348px 1531px #FFF , 1274px 1619px #FFF , 1475px 1031px #FFF , 414px 982px #FFF , 1476px 1635px #FFF , 1381px 580px #FFF , 1229px 844px #FFF , 960px 1964px #FFF , 67px 854px #FFF , 29px 751px #FFF , 1873px 1878px #FFF , 1680px 1208px #FFF , 207px 1847px #FFF , 1734px 32px #FFF , 327px 373px #FFF , 905px 711px #FFF , 1806px 351px #FFF , 1789px 931px #FFF , 1307px 1211px #FFF , 1932px 1171px #FFF , 1480px 493px #FFF , 1242px 1711px #FFF , 487px 54px #FFF , 365px 998px #FFF , 1306px 1429px #FFF , 1083px 2px #FFF , 711px 392px #FFF , 1186px 150px #FFF , 1784px 1054px #FFF , 218px 1222px #FFF , 52px 1437px #FFF , 525px 312px #FFF , 1512px 1721px #FFF , 790px 846px #FFF , 678px 558px #FFF , 184px 1979px #FFF , 1227px 440px #FFF , 1774px 984px #FFF , 33px 1489px #FFF , 425px 1296px #FFF , 1216px 200px #FFF , 1832px 445px #FFF , 1748px 665px #FFF , 1065px 1067px #FFF , 726px 441px #FFF , 1946px 509px #FFF , 1416px 827px #FFF , 176px 1620px #FFF , 1710px 229px #FFF , 470px 1048px #FFF , 915px 1005px #FFF , 1975px 445px #FFF , 366px 1834px #FFF , 650px 778px #FFF , 1243px 680px #FFF , 443px 1504px #FFF , 407px 550px #FFF , 1150px 951px #FFF , 1765px 1712px #FFF , 676px 595px #FFF , 1620px 183px #FFF , 1417px 92px #FFF , 1223px 1177px #FFF , 790px 1504px #FFF , 863px 96px #FFF , 1553px 803px #FFF , 1706px 1623px #FFF , 1059px 1579px #FFF , 1795px 1988px #FFF , 1850px 1975px #FFF , 429px 73px #FFF , 1823px 106px #FFF , 1217px 379px #FFF , 459px 106px #FFF , 415px 658px #FFF , 1412px 990px #FFF , 984px 964px #FFF , 41px 1147px #FFF , 1279px 1362px #FFF , 515px 216px #FFF , 1753px 1733px #FFF , 990px 210px #FFF , 641px 685px #FFF , 1357px 841px #FFF , 1396px 13px #FFF , 1628px 1197px #FFF , 1331px 1406px #FFF , 719px 813px #FFF , 1409px 28px #FFF , 1397px 772px #FFF , 1054px 515px #FFF , 1266px 888px #FFF , 547px 1557px #FFF , 842px 164px #FFF , 1640px 1982px #FFF , 1153px 377px #FFF , 1975px 591px #FFF , 1829px 1694px #FFF , 46px 505px #FFF , 230px 3px #FFF , 534px 487px #FFF , 1113px 994px #FFF , 815px 480px #FFF , 1411px 232px #FFF , 1137px 554px #FFF , 263px 1040px #FFF , 162px 1291px #FFF , 215px 655px #FFF , 1271px 1027px #FFF , 1091px 1110px #FFF , 1035px 1561px #FFF , 1483px 1007px #FFF , 1753px 1026px #FFF , 496px 1602px #FFF , 173px 268px #FFF , 342px 536px #FFF , 475px 235px #FFF , 1909px 1539px #FFF , 2000px 281px #FFF , 674px 1155px #FFF , 638px 307px #FFF , 1353px 1653px #FFF , 211px 1145px #FFF , 744px 14px #FFF , 1601px 1405px #FFF , 1750px 1675px #FFF , 1011px 356px #FFF , 1397px 1521px #FFF , 180px 1021px #FFF , 1615px 1714px #FFF , 762px 834px #FFF , 1205px 271px #FFF , 119px 1134px #FFF , 1265px 1414px #FFF , 1188px 1020px #FFF , 997px 1888px #FFF , 1889px 1856px #FFF , 80px 187px #FFF , 553px 464px #FFF , 1776px 1497px #FFF , 1061px 987px #FFF , 1556px 558px #FFF , 1047px 1375px #FFF , 1900px 220px #FFF , 1874px 280px #FFF , 1543px 179px #FFF , 87px 648px #FFF , 1589px 809px #FFF , 637px 975px #FFF , 568px 530px #FFF , 664px 426px #FFF , 1222px 763px #FFF , 1352px 1673px #FFF , 110px 1173px #FFF , 1198px 996px #FFF , 1410px 225px #FFF , 1578px 955px #FFF , 328px 1693px #FFF , 978px 1391px #FFF , 1856px 1270px #FFF , 1573px 1974px #FFF , 45px 76px #FFF , 784px 1583px #FFF , 1531px 1098px #FFF , 1812px 1856px #FFF , 1456px 128px #FFF , 24px 1996px #FFF , 923px 874px #FFF , 37px 1123px #FFF , 1539px 220px #FFF , 1371px 639px #FFF , 1186px 1939px #FFF , 911px 167px #FFF , 719px 294px #FFF , 542px 151px #FFF , 1048px 1283px #FFF , 1627px 1568px #FFF , 1763px 1465px #FFF , 1574px 737px #FFF , 653px 418px #FFF , 866px 112px #FFF , 1719px 1146px #FFF , 1468px 1802px #FFF , 573px 614px #FFF , 1405px 263px #FFF , 1384px 1814px #FFF , 411px 772px #FFF , 1751px 1812px #FFF , 204px 851px #FFF , 111px 1981px #FFF , 1584px 375px #FFF , 1097px 1750px #FFF , 552px 556px #FFF , 1634px 295px #FFF , 1240px 64px #FFF , 1024px 1313px #FFF , 472px 1659px #FFF , 1498px 327px #FFF , 546px 1358px #FFF , 1306px 170px #FFF , 86px 496px #FFF , 1952px 1836px #FFF , 282px 1898px #FFF , 725px 1246px #FFF , 1891px 1051px #FFF , 9px 1281px #FFF , 1053px 1177px #FFF , 461px 612px #FFF , 1501px 388px #FFF , 1596px 21px #FFF , 700px 550px #FFF , 121px 1368px #FFF , 1497px 977px #FFF , 1503px 1694px #FFF , 228px 1190px #FFF , 665px 1319px #FFF , 101px 2px #FFF , 1500px 1140px #FFF , 981px 87px #FFF , 65px 988px #FFF , 85px 930px #FFF , 487px 1402px #FFF , 282px 4px #FFF , 1930px 960px #FFF , 1449px 171px #FFF , 161px 1497px #FFF , 22px 953px #FFF , 1592px 1114px #FFF , 1893px 549px #FFF , 1271px 659px #FFF , 1494px 795px #FFF , 1063px 1594px #FFF , 1377px 721px #FFF , 1429px 846px #FFF , 869px 381px #FFF , 688px 685px #FFF , 1086px 920px #FFF , 1825px 69px #FFF , 1451px 453px #FFF , 1268px 508px #FFF , 2px 1032px #FFF , 1091px 1428px #FFF , 630px 298px #FFF , 1646px 456px #FFF , 1126px 1378px #FFF , 875px 898px #FFF , 835px 306px #FFF , 1298px 603px #FFF , 834px 1679px #FFF , 629px 1930px #FFF , 177px 968px #FFF , 270px 1091px #FFF , 59px 1008px #FFF , 971px 163px #FFF , 1866px 773px #FFF , 1850px 1282px #FFF , 478px 157px #FFF , 1659px 640px #FFF , 1557px 1576px #FFF , 1116px 697px #FFF , 1467px 1989px #FFF , 1189px 1589px #FFF , 1772px 558px #FFF , 1274px 863px #FFF , 1139px 638px #FFF , 1378px 1775px #FFF , 1567px 1779px #FFF , 1970px 292px #FFF , 876px 1893px #FFF , 1382px 367px #FFF , 247px 1220px #FFF , 286px 381px #FFF , 1658px 1817px #FFF , 1348px 1769px #FFF , 1536px 93px #FFF , 1141px 502px #FFF , 1423px 268px #FFF , 1693px 743px #FFF , 1653px 1694px #FFF , 1815px 1727px #FFF , 1304px 1250px #FFF , 1325px 89px #FFF , 1317px 903px #FFF , 1577px 1286px #FFF , 89px 990px #FFF , 1845px 542px #FFF , 205px 1335px #FFF , 695px 1284px #FFF , 1291px 808px #FFF , 261px 253px #FFF , 575px 740px #FFF , 561px 1716px #FFF , 519px 1527px #FFF , 1623px 649px #FFF , 145px 135px #FFF , 699px 1627px #FFF , 1823px 1636px #FFF , 34px 546px #FFF , 21px 285px #FFF , 218px 963px #FFF , 1439px 745px #FFF , 1797px 1054px #FFF , 259px 1468px #FFF , 1195px 266px #FFF , 620px 1048px #FFF , 1423px 97px #FFF , 464px 1074px #FFF , 448px 1508px #FFF , 323px 1644px #FFF , 1979px 603px #FFF , 826px 203px #FFF , 488px 1161px #FFF , 547px 1072px #FFF , 984px 1290px #FFF , 1314px 909px #FFF , 407px 620px #FFF , 1350px 1926px #FFF , 110px 664px #FFF , 1015px 341px #FFF , 152px 1371px #FFF , 76px 187px #FFF , 382px 1118px #FFF , 1788px 1005px #FFF , 1644px 1800px #FFF , 1931px 1696px #FFF , 1200px 209px #FFF , 390px 1479px #FFF , 1465px 1389px #FFF , 528px 1953px #FFF , 848px 1797px #FFF , 289px 1936px #FFF , 631px 364px #FFF , 282px 1916px #FFF , 1149px 1611px #FFF , 1936px 299px #FFF , 1544px 110px #FFF , 14px 60px #FFF , 1595px 1562px #FFF , 1135px 928px #FFF , 60px 1984px #FFF , 679px 1851px #FFF , 31px 1905px #FFF , 1901px 584px #FFF , 249px 1262px #FFF , 291px 1130px #FFF , 78px 479px #FFF , 420px 992px #FFF , 1151px 919px #FFF , 1681px 1249px #FFF , 222px 634px #FFF , 621px 785px #FFF , 1826px 18px #FFF , 385px 644px #FFF , 649px 1494px #FFF , 1922px 480px #FFF , 536px 1030px #FFF , 1285px 1192px #FFF , 861px 1600px #FFF , 934px 46px #FFF , 390px 1080px #FFF , 1835px 55px #FFF , 458px 1940px #FFF , 1839px 229px #FFF , 1861px 562px #FFF , 1247px 92px #FFF , 190px 399px #FFF , 200px 1036px #FFF , 1910px 373px #FFF , 1227px 177px #FFF , 312px 1332px #FFF , 582px 983px #FFF , 904px 1581px #FFF , 1025px 435px #FFF , 965px 404px #FFF , 1062px 1044px #FFF , 129px 1789px #FFF , 1907px 318px #FFF , 1380px 557px #FFF , 611px 802px #FFF , 169px 198px #FFF , 1861px 975px #FFF , 831px 46px #FFF , 1399px 158px #FFF , 1069px 330px #FFF , 684px 1683px #FFF , 1720px 482px #FFF , 330px 976px #FFF , 1961px 496px #FFF , 1140px 1649px #FFF , 607px 1735px #FFF , 65px 143px #FFF , 199px 905px #FFF , 811px 693px #FFF , 1536px 692px #FFF , 550px 1196px #FFF , 345px 908px #FFF , 465px 396px #FFF , 301px 350px #FFF , 139px 1979px #FFF , 1447px 1495px #FFF , 1703px 326px #FFF , 1786px 1402px #FFF , 79px 732px #FFF , 715px 263px #FFF , 453px 712px #FFF , 585px 1822px #FFF , 481px 1550px #FFF , 698px 1480px #FFF , 1233px 1395px #FFF , 914px 1346px #FFF , 520px 15px #FFF , 1736px 514px #FFF , 1924px 190px #FFF , 649px 1799px #FFF , 29px 67px #FFF , 763px 1237px #FFF , 688px 563px #FFF , 108px 224px #FFF , 967px 615px #FFF , 931px 1055px #FFF , 1904px 1498px #FFF , 1674px 1298px #FFF , 1453px 1311px #FFF , 1427px 708px #FFF , 1769px 347px #FFF , 607px 1805px #FFF , 1227px 70px #FFF , 1600px 741px #FFF , 1833px 163px #FFF , 1474px 1834px #FFF , 1161px 228px #FFF , 1628px 1799px #FFF , 678px 699px #FFF , 970px 123px #FFF , 295px 106px #FFF , 1780px 1573px #FFF , 1312px 1671px #FFF , 394px 521px #FFF , 1463px 1567px #FFF , 928px 66px #FFF , 1900px 1689px #FFF , 1576px 238px #FFF , 996px 223px #FFF , 1219px 1027px #FFF , 553px 1758px #FFF , 162px 227px #FFF , 634px 8px #FFF , 998px 1220px #FFF , 423px 1776px #FFF , 1890px 28px #FFF , 1524px 1646px #FFF , 41px 1779px #FFF , 1137px 692px #FFF , 1456px 1050px #FFF , 1547px 1436px #FFF , 1502px 854px #FFF , 19px 264px #FFF , 1319px 1299px #FFF , 145px 1138px #FFF , 118px 1521px #FFF , 1943px 103px #FFF , 1378px 1172px #FFF , 1084px 369px #FFF , 1969px 63px #FFF , 1862px 1845px #FFF , 714px 1468px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 887px 1488px #FFF , 160px 1839px #FFF , 1749px 346px #FFF , 830px 1846px #FFF , 919px 741px #FFF , 573px 1975px #FFF , 1883px 908px #FFF , 283px 311px #FFF , 1690px 1881px #FFF , 1344px 998px #FFF , 525px 1980px #FFF , 1929px 1896px #FFF , 677px 343px #FFF , 269px 656px #FFF , 791px 1777px #FFF , 1261px 1680px #FFF , 1602px 159px #FFF , 1848px 318px #FFF , 926px 104px #FFF , 929px 1167px #FFF , 1059px 568px #FFF , 23px 1484px #FFF , 107px 78px #FFF , 478px 1384px #FFF , 761px 1635px #FFF , 1621px 1675px #FFF , 1361px 1312px #FFF , 817px 153px #FFF , 75px 1852px #FFF , 1587px 1474px #FFF , 1279px 1px #FFF , 1459px 535px #FFF , 482px 1246px #FFF , 1822px 1646px #FFF , 1703px 491px #FFF , 1737px 1606px #FFF , 1851px 741px #FFF , 1110px 333px #FFF , 804px 702px #FFF , 858px 1189px #FFF , 1227px 58px #FFF , 1617px 1053px #FFF , 1982px 539px #FFF , 1640px 296px #FFF , 1783px 1997px #FFF , 1963px 1946px #FFF , 1712px 827px #FFF , 1317px 1319px #FFF , 916px 826px #FFF , 164px 291px #FFF , 1101px 1989px #FFF , 1652px 284px #FFF , 1145px 692px #FFF , 33px 1672px #FFF , 1124px 906px #FFF , 945px 1317px #FFF , 720px 771px #FFF , 1997px 980px #FFF , 615px 260px #FFF , 1884px 278px #FFF , 629px 322px #FFF , 1852px 1671px #FFF , 728px 1989px #FFF , 1586px 70px #FFF , 1366px 878px #FFF , 1604px 147px #FFF , 1701px 1832px #FFF , 1914px 1644px #FFF , 885px 1358px #FFF , 559px 1014px #FFF , 194px 1003px #FFF , 1019px 1278px #FFF , 1216px 1988px #FFF , 1441px 992px #FFF , 838px 1462px #FFF , 1773px 259px #FFF , 420px 485px #FFF , 239px 480px #FFF , 1470px 761px #FFF , 1969px 1672px #FFF , 272px 294px #FFF , 627px 1528px #FFF , 1376px 1888px #FFF , 1240px 1340px #FFF , 1593px 1648px #FFF , 1726px 900px #FFF , 800px 1238px #FFF , 1px 709px #FFF , 311px 444px #FFF , 1771px 1018px #FFF , 914px 83px #FFF , 500px 578px #FFF , 44px 1529px #FFF , 766px 419px #FFF , 1390px 1428px #FFF , 1848px 947px #FFF , 391px 159px #FFF , 967px 797px #FFF , 35px 702px #FFF , 1491px 1809px #FFF , 569px 1758px #FFF , 1435px 1701px #FFF , 1052px 778px #FFF , 542px 91px #FFF , 678px 1234px #FFF , 518px 940px #FFF , 1px 616px #FFF , 561px 1832px #FFF , 281px 198px #FFF , 1055px 1216px #FFF , 1596px 1133px #FFF , 1685px 1701px #FFF , 808px 968px #FFF , 1044px 1103px #FFF , 739px 1395px #FFF , 296px 625px #FFF , 869px 340px #FFF , 1149px 1200px #FFF , 1422px 1424px #FFF , 1053px 446px #FFF , 1985px 124px #FFF , 89px 1289px #FFF , 657px 1401px #FFF , 555px 1355px #FFF , 1678px 1984px #FFF , 1611px 1201px #FFF , 1298px 1167px #FFF , 531px 90px #FFF , 162px 402px #FFF , 1401px 1506px #FFF , 1453px 1773px #FFF , 862px 510px #FFF , 857px 1548px #FFF , 838px 433px #FFF , 422px 943px #FFF , 832px 538px #FFF , 1167px 1687px #FFF , 829px 414px #FFF , 401px 389px #FFF , 862px 1025px #FFF , 1845px 14px #FFF , 311px 1362px #FFF , 1244px 113px #FFF , 1648px 540px #FFF , 1751px 935px #FFF , 1488px 1864px #FFF , 1647px 1284px #FFF , 227px 270px #FFF , 115px 1667px #FFF , 258px 1672px #FFF , 1432px 301px #FFF , 1179px 752px #FFF , 1143px 1422px #FFF , 762px 434px #FFF , 526px 1707px #FFF , 1297px 1729px #FFF , 848px 1868px #FFF , 280px 995px #FFF , 1274px 356px #FFF , 357px 349px #FFF , 1854px 879px #FFF , 814px 1140px #FFF , 475px 1679px #FFF , 1239px 705px #FFF , 1836px 1761px #FFF , 1213px 1522px #FFF , 1800px 753px #FFF , 1800px 940px #FFF , 1426px 723px #FFF , 322px 897px #FFF , 242px 1236px #FFF , 1188px 1553px #FFF , 1877px 771px #FFF , 439px 1648px #FFF , 1004px 452px #FFF , 719px 633px #FFF , 1518px 1276px #FFF , 1965px 1402px #FFF , 622px 1007px #FFF , 1905px 1427px #FFF , 392px 282px #FFF , 1677px 1910px #FFF , 534px 457px #FFF , 1049px 617px #FFF , 886px 957px #FFF , 537px 85px #FFF , 1789px 65px #FFF , 726px 405px #FFF , 1518px 931px #FFF , 100px 886px #FFF , 502px 673px #FFF , 1367px 803px #FFF , 1127px 1916px #FFF , 1181px 173px #FFF , 407px 447px #FFF , 761px 236px #FFF , 1988px 1782px #FFF , 965px 624px #FFF , 1310px 1492px #FFF , 875px 1696px #FFF , 1192px 545px #FFF , 1014px 817px #FFF , 842px 822px #FFF , 429px 1862px #FFF , 614px 1470px #FFF , 137px 234px #FFF , 1385px 1678px #FFF , 1744px 251px #FFF , 493px 687px #FFF , 1019px 19px #FFF , 129px 157px #FFF , 344px 75px #FFF , 1839px 672px #FFF , 1488px 1901px #FFF , 325px 303px #FFF , 1497px 92px #FFF , 1053px 1881px #FFF , 801px 719px #FFF , 449px 1605px #FFF , 1273px 1863px #FFF , 757px 948px #FFF , 1009px 1384px #FFF , 1907px 644px #FFF , 1286px 1731px #FFF , 1151px 418px #FFF , 1087px 1632px #FFF , 1728px 1792px #FFF , 2000px 691px #FFF , 1449px 1745px #FFF , 62px 1154px #FFF , 62px 1020px #FFF , 1120px 1793px #FFF , 675px 1795px #FFF , 797px 1542px #FFF , 1348px 1531px #FFF , 1274px 1619px #FFF , 1475px 1031px #FFF , 414px 982px #FFF , 1476px 1635px #FFF , 1381px 580px #FFF , 1229px 844px #FFF , 960px 1964px #FFF , 67px 854px #FFF , 29px 751px #FFF , 1873px 1878px #FFF , 1680px 1208px #FFF , 207px 1847px #FFF , 1734px 32px #FFF , 327px 373px #FFF , 905px 711px #FFF , 1806px 351px #FFF , 1789px 931px #FFF , 1307px 1211px #FFF , 1932px 1171px #FFF , 1480px 493px #FFF , 1242px 1711px #FFF , 487px 54px #FFF , 365px 998px #FFF , 1306px 1429px #FFF , 1083px 2px #FFF , 711px 392px #FFF , 1186px 150px #FFF , 1784px 1054px #FFF , 218px 1222px #FFF , 52px 1437px #FFF , 525px 312px #FFF , 1512px 1721px #FFF , 790px 846px #FFF , 678px 558px #FFF , 184px 1979px #FFF , 1227px 440px #FFF , 1774px 984px #FFF , 33px 1489px #FFF , 425px 1296px #FFF , 1216px 200px #FFF , 1832px 445px #FFF , 1748px 665px #FFF , 1065px 1067px #FFF , 726px 441px #FFF , 1946px 509px #FFF , 1416px 827px #FFF , 176px 1620px #FFF , 1710px 229px #FFF , 470px 1048px #FFF , 915px 1005px #FFF , 1975px 445px #FFF , 366px 1834px #FFF , 650px 778px #FFF , 1243px 680px #FFF , 443px 1504px #FFF , 407px 550px #FFF , 1150px 951px #FFF , 1765px 1712px #FFF , 676px 595px #FFF , 1620px 183px #FFF , 1417px 92px #FFF , 1223px 1177px #FFF , 790px 1504px #FFF , 863px 96px #FFF , 1553px 803px #FFF , 1706px 1623px #FFF , 1059px 1579px #FFF , 1795px 1988px #FFF , 1850px 1975px #FFF , 429px 73px #FFF , 1823px 106px #FFF , 1217px 379px #FFF , 459px 106px #FFF , 415px 658px #FFF , 1412px 990px #FFF , 984px 964px #FFF , 41px 1147px #FFF , 1279px 1362px #FFF , 515px 216px #FFF , 1753px 1733px #FFF , 990px 210px #FFF , 641px 685px #FFF , 1357px 841px #FFF , 1396px 13px #FFF , 1628px 1197px #FFF , 1331px 1406px #FFF , 719px 813px #FFF , 1409px 28px #FFF , 1397px 772px #FFF , 1054px 515px #FFF , 1266px 888px #FFF , 547px 1557px #FFF , 842px 164px #FFF , 1640px 1982px #FFF , 1153px 377px #FFF , 1975px 591px #FFF , 1829px 1694px #FFF , 46px 505px #FFF , 230px 3px #FFF , 534px 487px #FFF , 1113px 994px #FFF , 815px 480px #FFF , 1411px 232px #FFF , 1137px 554px #FFF , 263px 1040px #FFF , 162px 1291px #FFF , 215px 655px #FFF , 1271px 1027px #FFF , 1091px 1110px #FFF , 1035px 1561px #FFF , 1483px 1007px #FFF , 1753px 1026px #FFF , 496px 1602px #FFF , 173px 268px #FFF , 342px 536px #FFF , 475px 235px #FFF , 1909px 1539px #FFF , 2000px 281px #FFF , 674px 1155px #FFF , 638px 307px #FFF , 1353px 1653px #FFF , 211px 1145px #FFF , 744px 14px #FFF , 1601px 1405px #FFF , 1750px 1675px #FFF , 1011px 356px #FFF , 1397px 1521px #FFF , 180px 1021px #FFF , 1615px 1714px #FFF , 762px 834px #FFF , 1205px 271px #FFF , 119px 1134px #FFF , 1265px 1414px #FFF , 1188px 1020px #FFF , 997px 1888px #FFF , 1889px 1856px #FFF , 80px 187px #FFF , 553px 464px #FFF , 1776px 1497px #FFF , 1061px 987px #FFF , 1556px 558px #FFF , 1047px 1375px #FFF , 1900px 220px #FFF , 1874px 280px #FFF , 1543px 179px #FFF , 87px 648px #FFF , 1589px 809px #FFF , 637px 975px #FFF , 568px 530px #FFF , 664px 426px #FFF , 1222px 763px #FFF , 1352px 1673px #FFF , 110px 1173px #FFF , 1198px 996px #FFF , 1410px 225px #FFF , 1578px 955px #FFF , 328px 1693px #FFF , 978px 1391px #FFF , 1856px 1270px #FFF , 1573px 1974px #FFF , 45px 76px #FFF , 784px 1583px #FFF , 1531px 1098px #FFF , 1812px 1856px #FFF , 1456px 128px #FFF , 24px 1996px #FFF , 923px 874px #FFF , 37px 1123px #FFF , 1539px 220px #FFF , 1371px 639px #FFF , 1186px 1939px #FFF , 911px 167px #FFF , 719px 294px #FFF , 542px 151px #FFF , 1048px 1283px #FFF , 1627px 1568px #FFF , 1763px 1465px #FFF , 1574px 737px #FFF , 653px 418px #FFF , 866px 112px #FFF , 1719px 1146px #FFF , 1468px 1802px #FFF , 573px 614px #FFF , 1405px 263px #FFF , 1384px 1814px #FFF , 411px 772px #FFF , 1751px 1812px #FFF , 204px 851px #FFF , 111px 1981px #FFF , 1584px 375px #FFF , 1097px 1750px #FFF , 552px 556px #FFF , 1634px 295px #FFF , 1240px 64px #FFF , 1024px 1313px #FFF , 472px 1659px #FFF , 1498px 327px #FFF , 546px 1358px #FFF , 1306px 170px #FFF , 86px 496px #FFF , 1952px 1836px #FFF , 282px 1898px #FFF , 725px 1246px #FFF , 1891px 1051px #FFF , 9px 1281px #FFF , 1053px 1177px #FFF , 461px 612px #FFF , 1501px 388px #FFF , 1596px 21px #FFF , 700px 550px #FFF , 121px 1368px #FFF , 1497px 977px #FFF , 1503px 1694px #FFF , 228px 1190px #FFF , 665px 1319px #FFF , 101px 2px #FFF , 1500px 1140px #FFF , 981px 87px #FFF , 65px 988px #FFF , 85px 930px #FFF , 487px 1402px #FFF , 282px 4px #FFF , 1930px 960px #FFF , 1449px 171px #FFF , 161px 1497px #FFF , 22px 953px #FFF , 1592px 1114px #FFF , 1893px 549px #FFF , 1271px 659px #FFF , 1494px 795px #FFF , 1063px 1594px #FFF , 1377px 721px #FFF , 1429px 846px #FFF , 869px 381px #FFF , 688px 685px #FFF , 1086px 920px #FFF , 1825px 69px #FFF , 1451px 453px #FFF , 1268px 508px #FFF , 2px 1032px #FFF , 1091px 1428px #FFF , 630px 298px #FFF , 1646px 456px #FFF , 1126px 1378px #FFF , 875px 898px #FFF , 835px 306px #FFF , 1298px 603px #FFF , 834px 1679px #FFF , 629px 1930px #FFF , 177px 968px #FFF , 270px 1091px #FFF , 59px 1008px #FFF , 971px 163px #FFF , 1866px 773px #FFF , 1850px 1282px #FFF , 478px 157px #FFF , 1659px 640px #FFF , 1557px 1576px #FFF , 1116px 697px #FFF , 1467px 1989px #FFF , 1189px 1589px #FFF , 1772px 558px #FFF , 1274px 863px #FFF , 1139px 638px #FFF , 1378px 1775px #FFF , 1567px 1779px #FFF , 1970px 292px #FFF , 876px 1893px #FFF , 1382px 367px #FFF , 247px 1220px #FFF , 286px 381px #FFF , 1658px 1817px #FFF , 1348px 1769px #FFF , 1536px 93px #FFF , 1141px 502px #FFF , 1423px 268px #FFF , 1693px 743px #FFF , 1653px 1694px #FFF , 1815px 1727px #FFF , 1304px 1250px #FFF , 1325px 89px #FFF , 1317px 903px #FFF , 1577px 1286px #FFF , 89px 990px #FFF , 1845px 542px #FFF , 205px 1335px #FFF , 695px 1284px #FFF , 1291px 808px #FFF , 261px 253px #FFF , 575px 740px #FFF , 561px 1716px #FFF , 519px 1527px #FFF , 1623px 649px #FFF , 145px 135px #FFF , 699px 1627px #FFF , 1823px 1636px #FFF , 34px 546px #FFF , 21px 285px #FFF , 218px 963px #FFF , 1439px 745px #FFF , 1797px 1054px #FFF , 259px 1468px #FFF , 1195px 266px #FFF , 620px 1048px #FFF , 1423px 97px #FFF , 464px 1074px #FFF , 448px 1508px #FFF , 323px 1644px #FFF , 1979px 603px #FFF , 826px 203px #FFF , 488px 1161px #FFF , 547px 1072px #FFF , 984px 1290px #FFF , 1314px 909px #FFF , 407px 620px #FFF , 1350px 1926px #FFF , 110px 664px #FFF , 1015px 341px #FFF , 152px 1371px #FFF , 76px 187px #FFF , 382px 1118px #FFF , 1788px 1005px #FFF , 1644px 1800px #FFF , 1931px 1696px #FFF , 1200px 209px #FFF , 390px 1479px #FFF , 1465px 1389px #FFF , 528px 1953px #FFF , 848px 1797px #FFF , 289px 1936px #FFF , 631px 364px #FFF , 282px 1916px #FFF , 1149px 1611px #FFF , 1936px 299px #FFF , 1544px 110px #FFF , 14px 60px #FFF , 1595px 1562px #FFF , 1135px 928px #FFF , 60px 1984px #FFF , 679px 1851px #FFF , 31px 1905px #FFF , 1901px 584px #FFF , 249px 1262px #FFF , 291px 1130px #FFF , 78px 479px #FFF , 420px 992px #FFF , 1151px 919px #FFF , 1681px 1249px #FFF , 222px 634px #FFF , 621px 785px #FFF , 1826px 18px #FFF , 385px 644px #FFF , 649px 1494px #FFF , 1922px 480px #FFF , 536px 1030px #FFF , 1285px 1192px #FFF , 861px 1600px #FFF , 934px 46px #FFF , 390px 1080px #FFF , 1835px 55px #FFF , 458px 1940px #FFF , 1839px 229px #FFF , 1861px 562px #FFF , 1247px 92px #FFF , 190px 399px #FFF , 200px 1036px #FFF , 1910px 373px #FFF , 1227px 177px #FFF , 312px 1332px #FFF , 582px 983px #FFF , 904px 1581px #FFF , 1025px 435px #FFF , 965px 404px #FFF , 1062px 1044px #FFF , 129px 1789px #FFF , 1907px 318px #FFF , 1380px 557px #FFF , 611px 802px #FFF , 169px 198px #FFF , 1861px 975px #FFF , 831px 46px #FFF , 1399px 158px #FFF , 1069px 330px #FFF , 684px 1683px #FFF , 1720px 482px #FFF , 330px 976px #FFF , 1961px 496px #FFF , 1140px 1649px #FFF , 607px 1735px #FFF , 65px 143px #FFF , 199px 905px #FFF , 811px 693px #FFF , 1536px 692px #FFF , 550px 1196px #FFF , 345px 908px #FFF , 465px 396px #FFF , 301px 350px #FFF , 139px 1979px #FFF , 1447px 1495px #FFF , 1703px 326px #FFF , 1786px 1402px #FFF , 79px 732px #FFF , 715px 263px #FFF , 453px 712px #FFF , 585px 1822px #FFF , 481px 1550px #FFF , 698px 1480px #FFF , 1233px 1395px #FFF , 914px 1346px #FFF , 520px 15px #FFF , 1736px 514px #FFF , 1924px 190px #FFF , 649px 1799px #FFF , 29px 67px #FFF , 763px 1237px #FFF , 688px 563px #FFF , 108px 224px #FFF , 967px 615px #FFF , 931px 1055px #FFF , 1904px 1498px #FFF , 1674px 1298px #FFF , 1453px 1311px #FFF , 1427px 708px #FFF , 1769px 347px #FFF , 607px 1805px #FFF , 1227px 70px #FFF , 1600px 741px #FFF , 1833px 163px #FFF , 1474px 1834px #FFF , 1161px 228px #FFF , 1628px 1799px #FFF , 678px 699px #FFF , 970px 123px #FFF , 295px 106px #FFF , 1780px 1573px #FFF , 1312px 1671px #FFF , 394px 521px #FFF , 1463px 1567px #FFF , 928px 66px #FFF , 1900px 1689px #FFF , 1576px 238px #FFF , 996px 223px #FFF , 1219px 1027px #FFF , 553px 1758px #FFF , 162px 227px #FFF , 634px 8px #FFF , 998px 1220px #FFF , 423px 1776px #FFF , 1890px 28px #FFF , 1524px 1646px #FFF , 41px 1779px #FFF , 1137px 692px #FFF , 1456px 1050px #FFF , 1547px 1436px #FFF , 1502px 854px #FFF , 19px 264px #FFF , 1319px 1299px #FFF , 145px 1138px #FFF , 118px 1521px #FFF , 1943px 103px #FFF , 1378px 1172px #FFF , 1084px 369px #FFF , 1969px 63px #FFF , 1862px 1845px #FFF , 714px 1468px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1256px 142px #FFF , 903px 1349px #FFF , 282px 460px #FFF , 699px 272px #FFF , 589px 119px #FFF , 995px 1127px #FFF , 594px 1551px #FFF , 668px 547px #FFF , 1579px 1019px #FFF , 839px 139px #FFF , 1748px 1769px #FFF , 1177px 1158px #FFF , 1640px 395px #FFF , 1099px 380px #FFF , 449px 1882px #FFF , 969px 1572px #FFF , 1143px 133px #FFF , 1797px 1367px #FFF , 700px 120px #FFF , 740px 104px #FFF , 1732px 562px #FFF , 147px 1786px #FFF , 632px 135px #FFF , 1606px 724px #FFF , 1121px 900px #FFF , 203px 1339px #FFF , 390px 1979px #FFF , 1557px 619px #FFF , 1263px 842px #FFF , 1655px 1115px #FFF , 154px 771px #FFF , 663px 1193px #FFF , 1933px 1185px #FFF , 1619px 191px #FFF , 46px 84px #FFF , 1587px 207px #FFF , 1516px 1461px #FFF , 1050px 990px #FFF , 63px 514px #FFF , 1556px 1957px #FFF , 829px 643px #FFF , 851px 1830px #FFF , 831px 52px #FFF , 86px 527px #FFF , 1599px 1407px #FFF , 1326px 1965px #FFF , 690px 1910px #FFF , 1876px 894px #FFF , 18px 1777px #FFF , 1px 125px #FFF , 1315px 861px #FFF , 1071px 1474px #FFF , 905px 397px #FFF , 319px 545px #FFF , 1913px 885px #FFF , 681px 1187px #FFF , 415px 241px #FFF , 233px 1553px #FFF , 407px 1094px #FFF , 1214px 822px #FFF , 740px 956px #FFF , 347px 1652px #FFF , 1257px 1272px #FFF , 134px 529px #FFF , 742px 494px #FFF , 1881px 1001px #FFF , 803px 1604px #FFF , 911px 143px #FFF , 830px 1921px #FFF , 1108px 1060px #FFF , 1820px 581px #FFF , 1261px 598px #FFF , 1295px 1834px #FFF , 683px 1795px #FFF , 1811px 709px #FFF , 244px 625px #FFF , 468px 1314px #FFF , 1718px 886px #FFF , 467px 650px #FFF , 1333px 1566px #FFF , 1239px 1188px #FFF , 1623px 935px #FFF , 1465px 1692px #FFF , 1575px 174px #FFF , 210px 1379px #FFF , 948px 827px #FFF , 770px 489px #FFF , 1330px 1329px #FFF , 434px 1924px #FFF , 696px 1838px #FFF , 1296px 611px #FFF , 1046px 1603px #FFF , 1620px 788px #FFF , 1106px 1601px #FFF , 222px 1553px #FFF , 1483px 834px #FFF , 902px 1796px #FFF , 47px 113px #FFF , 138px 1073px #FFF , 232px 579px #FFF , 1249px 151px #FFF , 134px 8px #FFF , 1626px 646px #FFF , 806px 1883px #FFF , 579px 587px #FFF , 489px 1432px #FFF , 1015px 298px #FFF , 649px 1621px #FFF , 629px 1456px #FFF , 342px 1449px #FFF , 1979px 912px #FFF , 805px 1530px #FFF , 1495px 30px #FFF , 811px 1647px #FFF , 605px 1138px #FFF , 351px 1447px #FFF , 1416px 709px #FFF , 1072px 43px #FFF , 1799px 1017px #FFF , 1283px 269px #FFF , 1707px 1739px #FFF , 367px 1254px #FFF , 600px 1058px #FFF , 85px 475px #FFF , 1143px 939px #FFF , 542px 232px #FFF , 1536px 564px #FFF , 1215px 1867px #FFF , 909px 1644px #FFF , 270px 1401px #FFF , 1817px 1485px #FFF , 183px 1278px #FFF , 699px 1485px #FFF , 699px 26px #FFF , 1463px 1854px #FFF , 42px 1800px #FFF , 1739px 146px #FFF , 1491px 381px #FFF , 1130px 1434px #FFF , 524px 882px #FFF , 578px 1996px #FFF , 527px 1458px #FFF , 25px 50px #FFF , 1296px 856px #FFF , 1150px 1389px #FFF , 1191px 252px #FFF , 1004px 1804px #FFF , 1468px 750px #FFF , 195px 626px #FFF , 887px 1545px #FFF , 1377px 1003px #FFF , 970px 1602px #FFF , 190px 227px #FFF , 1952px 370px #FFF , 1968px 658px #FFF , 810px 75px #FFF , 1322px 782px #FFF , 1178px 210px #FFF , 1114px 1439px #FFF , 1707px 1179px #FFF , 1683px 1849px #FFF , 313px 1197px #FFF , 910px 788px #FFF , 1479px 436px #FFF , 497px 1641px #FFF , 1582px 860px #FFF , 96px 1841px #FFF , 356px 1593px #FFF , 665px 126px #FFF , 1159px 540px #FFF , 1121px 386px #FFF , 1620px 1125px #FFF , 206px 803px #FFF , 1422px 242px #FFF , 140px 1759px #FFF , 872px 1693px #FFF , 1868px 843px #FFF , 78px 855px #FFF , 1104px 1428px #FFF , 1017px 519px #FFF , 1319px 899px #FFF , 1346px 691px #FFF , 70px 506px #FFF , 1914px 816px #FFF , 1915px 353px #FFF , 1027px 1428px #FFF , 1903px 239px #FFF , 1706px 207px #FFF , 1824px 1815px #FFF , 738px 565px #FFF , 757px 741px #FFF , 1035px 25px #FFF , 1749px 116px #FFF , 1890px 275px #FFF , 8px 212px #FFF , 1491px 1560px #FFF , 669px 774px #FFF , 434px 310px #FFF , 1293px 1894px #FFF , 1514px 196px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1256px 142px #FFF , 903px 1349px #FFF , 282px 460px #FFF , 699px 272px #FFF , 589px 119px #FFF , 995px 1127px #FFF , 594px 1551px #FFF , 668px 547px #FFF , 1579px 1019px #FFF , 839px 139px #FFF , 1748px 1769px #FFF , 1177px 1158px #FFF , 1640px 395px #FFF , 1099px 380px #FFF , 449px 1882px #FFF , 969px 1572px #FFF , 1143px 133px #FFF , 1797px 1367px #FFF , 700px 120px #FFF , 740px 104px #FFF , 1732px 562px #FFF , 147px 1786px #FFF , 632px 135px #FFF , 1606px 724px #FFF , 1121px 900px #FFF , 203px 1339px #FFF , 390px 1979px #FFF , 1557px 619px #FFF , 1263px 842px #FFF , 1655px 1115px #FFF , 154px 771px #FFF , 663px 1193px #FFF , 1933px 1185px #FFF , 1619px 191px #FFF , 46px 84px #FFF , 1587px 207px #FFF , 1516px 1461px #FFF , 1050px 990px #FFF , 63px 514px #FFF , 1556px 1957px #FFF , 829px 643px #FFF , 851px 1830px #FFF , 831px 52px #FFF , 86px 527px #FFF , 1599px 1407px #FFF , 1326px 1965px #FFF , 690px 1910px #FFF , 1876px 894px #FFF , 18px 1777px #FFF , 1px 125px #FFF , 1315px 861px #FFF , 1071px 1474px #FFF , 905px 397px #FFF , 319px 545px #FFF , 1913px 885px #FFF , 681px 1187px #FFF , 415px 241px #FFF , 233px 1553px #FFF , 407px 1094px #FFF , 1214px 822px #FFF , 740px 956px #FFF , 347px 1652px #FFF , 1257px 1272px #FFF , 134px 529px #FFF , 742px 494px #FFF , 1881px 1001px #FFF , 803px 1604px #FFF , 911px 143px #FFF , 830px 1921px #FFF , 1108px 1060px #FFF , 1820px 581px #FFF , 1261px 598px #FFF , 1295px 1834px #FFF , 683px 1795px #FFF , 1811px 709px #FFF , 244px 625px #FFF , 468px 1314px #FFF , 1718px 886px #FFF , 467px 650px #FFF , 1333px 1566px #FFF , 1239px 1188px #FFF , 1623px 935px #FFF , 1465px 1692px #FFF , 1575px 174px #FFF , 210px 1379px #FFF , 948px 827px #FFF , 770px 489px #FFF , 1330px 1329px #FFF , 434px 1924px #FFF , 696px 1838px #FFF , 1296px 611px #FFF , 1046px 1603px #FFF , 1620px 788px #FFF , 1106px 1601px #FFF , 222px 1553px #FFF , 1483px 834px #FFF , 902px 1796px #FFF , 47px 113px #FFF , 138px 1073px #FFF , 232px 579px #FFF , 1249px 151px #FFF , 134px 8px #FFF , 1626px 646px #FFF , 806px 1883px #FFF , 579px 587px #FFF , 489px 1432px #FFF , 1015px 298px #FFF , 649px 1621px #FFF , 629px 1456px #FFF , 342px 1449px #FFF , 1979px 912px #FFF , 805px 1530px #FFF , 1495px 30px #FFF , 811px 1647px #FFF , 605px 1138px #FFF , 351px 1447px #FFF , 1416px 709px #FFF , 1072px 43px #FFF , 1799px 1017px #FFF , 1283px 269px #FFF , 1707px 1739px #FFF , 367px 1254px #FFF , 600px 1058px #FFF , 85px 475px #FFF , 1143px 939px #FFF , 542px 232px #FFF , 1536px 564px #FFF , 1215px 1867px #FFF , 909px 1644px #FFF , 270px 1401px #FFF , 1817px 1485px #FFF , 183px 1278px #FFF , 699px 1485px #FFF , 699px 26px #FFF , 1463px 1854px #FFF , 42px 1800px #FFF , 1739px 146px #FFF , 1491px 381px #FFF , 1130px 1434px #FFF , 524px 882px #FFF , 578px 1996px #FFF , 527px 1458px #FFF , 25px 50px #FFF , 1296px 856px #FFF , 1150px 1389px #FFF , 1191px 252px #FFF , 1004px 1804px #FFF , 1468px 750px #FFF , 195px 626px #FFF , 887px 1545px #FFF , 1377px 1003px #FFF , 970px 1602px #FFF , 190px 227px #FFF , 1952px 370px #FFF , 1968px 658px #FFF , 810px 75px #FFF , 1322px 782px #FFF , 1178px 210px #FFF , 1114px 1439px #FFF , 1707px 1179px #FFF , 1683px 1849px #FFF , 313px 1197px #FFF , 910px 788px #FFF , 1479px 436px #FFF , 497px 1641px #FFF , 1582px 860px #FFF , 96px 1841px #FFF , 356px 1593px #FFF , 665px 126px #FFF , 1159px 540px #FFF , 1121px 386px #FFF , 1620px 1125px #FFF , 206px 803px #FFF , 1422px 242px #FFF , 140px 1759px #FFF , 872px 1693px #FFF , 1868px 843px #FFF , 78px 855px #FFF , 1104px 1428px #FFF , 1017px 519px #FFF , 1319px 899px #FFF , 1346px 691px #FFF , 70px 506px #FFF , 1914px 816px #FFF , 1915px 353px #FFF , 1027px 1428px #FFF , 1903px 239px #FFF , 1706px 207px #FFF , 1824px 1815px #FFF , 738px 565px #FFF , 757px 741px #FFF , 1035px 25px #FFF , 1749px 116px #FFF , 1890px 275px #FFF , 8px 212px #FFF , 1491px 1560px #FFF , 669px 774px #FFF , 434px 310px #FFF , 1293px 1894px #FFF , 1514px 196px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1684px 1943px #FFF , 503px 604px #FFF , 1200px 1125px #FFF , 507px 1264px #FFF , 1252px 321px #FFF , 1546px 809px #FFF , 134px 323px #FFF , 1367px 793px #FFF , 432px 111px #FFF , 1139px 1470px #FFF , 679px 105px #FFF , 1812px 384px #FFF , 1788px 623px #FFF , 1287px 1635px #FFF , 1641px 530px #FFF , 1202px 519px #FFF , 181px 1788px #FFF , 492px 565px #FFF , 541px 1986px #FFF , 363px 1620px #FFF , 1604px 637px #FFF , 1153px 1974px #FFF , 1476px 597px #FFF , 1447px 1866px #FFF , 876px 1529px #FFF , 1405px 1381px #FFF , 1067px 468px #FFF , 1085px 1538px #FFF , 385px 1117px #FFF , 134px 588px #FFF , 1516px 1665px #FFF , 1446px 781px #FFF , 223px 376px #FFF , 1901px 1420px #FFF , 1330px 1386px #FFF , 677px 94px #FFF , 1890px 1858px #FFF , 1986px 1864px #FFF , 20px 278px #FFF , 1279px 1265px #FFF , 705px 465px #FFF , 1314px 578px #FFF , 1873px 1380px #FFF , 713px 1673px #FFF , 335px 171px #FFF , 1761px 1850px #FFF , 212px 131px #FFF , 1965px 233px #FFF , 280px 393px #FFF , 959px 1960px #FFF , 990px 936px #FFF , 1427px 160px #FFF , 25px 1861px #FFF , 1373px 871px #FFF , 788px 1386px #FFF , 982px 1680px #FFF , 590px 843px #FFF , 855px 1050px #FFF , 582px 288px #FFF , 702px 1679px #FFF , 994px 987px #FFF , 1372px 1749px #FFF , 109px 20px #FFF , 1182px 468px #FFF , 38px 846px #FFF , 1592px 786px #FFF , 653px 573px #FFF , 1468px 400px #FFF , 30px 691px #FFF , 259px 76px #FFF , 1837px 1755px #FFF , 442px 1321px #FFF , 954px 1085px #FFF , 1161px 1808px #FFF , 966px 445px #FFF , 679px 172px #FFF , 1262px 1581px #FFF , 95px 437px #FFF , 669px 214px #FFF , 1995px 1417px #FFF , 845px 1049px #FFF , 184px 1156px #FFF , 1191px 574px #FFF , 1858px 1810px #FFF , 44px 672px #FFF , 1464px 432px #FFF , 1044px 408px #FFF , 531px 553px #FFF , 79px 1423px #FFF , 1279px 725px #FFF , 1716px 897px #FFF , 642px 737px #FFF , 1350px 918px #FFF , 1635px 55px #FFF , 427px 1963px #FFF , 705px 338px #FFF , 1878px 1696px #FFF , 1597px 359px #FFF , 557px 312px #FFF , 570px 1095px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1684px 1943px #FFF , 503px 604px #FFF , 1200px 1125px #FFF , 507px 1264px #FFF , 1252px 321px #FFF , 1546px 809px #FFF , 134px 323px #FFF , 1367px 793px #FFF , 432px 111px #FFF , 1139px 1470px #FFF , 679px 105px #FFF , 1812px 384px #FFF , 1788px 623px #FFF , 1287px 1635px #FFF , 1641px 530px #FFF , 1202px 519px #FFF , 181px 1788px #FFF , 492px 565px #FFF , 541px 1986px #FFF , 363px 1620px #FFF , 1604px 637px #FFF , 1153px 1974px #FFF , 1476px 597px #FFF , 1447px 1866px #FFF , 876px 1529px #FFF , 1405px 1381px #FFF , 1067px 468px #FFF , 1085px 1538px #FFF , 385px 1117px #FFF , 134px 588px #FFF , 1516px 1665px #FFF , 1446px 781px #FFF , 223px 376px #FFF , 1901px 1420px #FFF , 1330px 1386px #FFF , 677px 94px #FFF , 1890px 1858px #FFF , 1986px 1864px #FFF , 20px 278px #FFF , 1279px 1265px #FFF , 705px 465px #FFF , 1314px 578px #FFF , 1873px 1380px #FFF , 713px 1673px #FFF , 335px 171px #FFF , 1761px 1850px #FFF , 212px 131px #FFF , 1965px 233px #FFF , 280px 393px #FFF , 959px 1960px #FFF , 990px 936px #FFF , 1427px 160px #FFF , 25px 1861px #FFF , 1373px 871px #FFF , 788px 1386px #FFF , 982px 1680px #FFF , 590px 843px #FFF , 855px 1050px #FFF , 582px 288px #FFF , 702px 1679px #FFF , 994px 987px #FFF , 1372px 1749px #FFF , 109px 20px #FFF , 1182px 468px #FFF , 38px 846px #FFF , 1592px 786px #FFF , 653px 573px #FFF , 1468px 400px #FFF , 30px 691px #FFF , 259px 76px #FFF , 1837px 1755px #FFF , 442px 1321px #FFF , 954px 1085px #FFF , 1161px 1808px #FFF , 966px 445px #FFF , 679px 172px #FFF , 1262px 1581px #FFF , 95px 437px #FFF , 669px 214px #FFF , 1995px 1417px #FFF , 845px 1049px #FFF , 184px 1156px #FFF , 1191px 574px #FFF , 1858px 1810px #FFF , 44px 672px #FFF , 1464px 432px #FFF , 1044px 408px #FFF , 531px 553px #FFF , 79px 1423px #FFF , 1279px 725px #FFF , 1716px 897px #FFF , 642px 737px #FFF , 1350px 918px #FFF , 1635px 55px #FFF , 427px 1963px #FFF , 705px 338px #FFF , 1878px 1696px #FFF , 1597px 359px #FFF , 557px 312px #FFF , 570px 1095px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}













/*-----------------------------------------*/

body {
	font-family: 'Inconsolata', 'Monaco', monospace;
	overflow: hidden;
	margin: 0;
	color: #a0a2ae;
	background: #03082d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
p {
color: white;

}
adj{
    height: 15%;
}
    
    
}

.main-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;

	background-repeat: no-repeat;
	background-position: 50% 10em;
	background-size: 75% auto;
}


/* Buttons */

.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--search {
	font-size: 1.5em;
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}


/* Reset Search Input */

.search__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus {
	outline: none;
}


/* Links */

a,
.btn {
	text-decoration: none;
	color: #d17c78;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}




/* Deco lines */
 
.decolines {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.decoline {
	position: absolute;
	width: 1px;
	height: 100%;
	background: #ddd;
}

.decoline:first-child {
	right: 88em;
}

.decoline:nth-child(2) {
	right: 68em;
}

.decoline:nth-child(3) {
	right: 48em;
}

.decoline:nth-child(4) {
	right: 28em;
}

.decoline:nth-child(5) {
	right: 8em;
}

.demo-11 { color: #fff; background-color: #03082d; }
.demo-11 main { background-color: transparent; }
.demo-11 a, .demo-11 .btn { color: #34fc47; }


/* Layout for search container */
.search {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 3em;
}
span.green{
	color: #34fc47;
}

.js .search {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close {
	display: block;
}

.terminal__line {
	line-height: 1.25;
	overflow: hidden;
	width: 0;
	height: 0;
	margin: 0;
	white-space: nowrap;
}

.search__form::before {
	content: '>';
}

.search__input {
	font-family: inherit;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.05em 0;
	color: #fff;
}

.search__form::before,
.terminal__line,
.search__input {
	
	font-size: 1.25em;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #4a319e;
}

.search__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #4a319e;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #4a319e;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

form {
margin: 0px 0px 150px 0px;
}

/************************/
/* Transitions 			*/
/************************/

.js .main-wrap {
	transition: opacity 0.3s;
}

.js .main-wrap--hide {
	pointer-events: none;
	opacity: 0;
}

.js .main-wrap--move .btn--search {
	pointer-events: none;
	opacity: 0;
}

.js .search {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}

.js .search--open {
	pointer-events: auto;
	opacity: 1;
}
.js .search--open .terminal.binding .terminal__line{
	width: 200ch;
}
.js .search--open .terminal__line:first-child {
	width: 20ch;
}
.js .search--open .terminal__line:nth-child(2),
.js .search--open .terminal__line:nth-child(3) {
	width: 15ch;
}
.js .search--open .terminal__line:nth-child(4) {
	width: 27ch;
}
.js .search--open .terminal__line:nth-child(5) {
	width: 31ch;
padding: 0px;
}
.js .search--open .terminal__line:nth-child(6) {
	width: 29ch;
padding: 0px;
}
.js .search--open .terminal__line:nth-child(7) {
	width: 19ch;
}
.js .search--open .terminal__line:nth-child(8) {
	width: 19ch;
}
.js .search--open .terminal__line:nth-child(9) {
	width: 10ch;
}
.js .search--open .terminal__line:nth-child(10) {
	width: 30ch;
}
.js .search--open .terminal__line:nth-child(11) {
	width: 20ch;
}
.js .search--open .terminal__line:nth-child(12) {
	width: 45ch;
}
.js .search--open .terminal__line:nth-child(13) {
	width: 145ch;
}


.js .search--open .terminal__line {
	animation: typing 1s steps(30, end), scaleUp 0.1s forwards;
}

.js .search--open .terminal__line:first-child {
	animation-timing-function: steps(20, end), ease;
}

.js .search--open .terminal__line:nth-child(2) {
	animation-delay: 2s;
}

.js .search--open .terminal__line:nth-child(3) {
	animation-delay: 3.35s;
}

.js .search--open .terminal__line:nth-child(2),
.js .search--open .terminal__line:nth-child(3) {
	animation-duration: 1.35s, .11s;
	animation-timing-function: steps(27, end), ease;
}

.js .search--open .terminal__line:nth-child(4) {
	animation-duration: 1.4s, 0.1s;
	animation-timing-function: steps(28, end), ease;
	animation-delay: 6.35s;
}

.js .search--open .terminal__line:nth-child(5) {
	animation-duration: 0.35s, 0.1s;
	animation-timing-function: steps(7, end), ease;
	animation-delay: 7.75s;
}

.js .search--open .terminal__line:nth-child(6) {
	animation-duration: 0.8s, 0.1s;
	animation-timing-function: steps(16, end), ease;
	animation-delay: 8.1s;
}

.js .search--open .terminal__line:nth-child(7) {
	animation-duration: 0.7s, 0.1s;
	animation-timing-function: steps(14, end), ease;
	animation-delay: 8.9s;
}

.js .search--open .terminal__line:nth-child(8) {
	animation-duration: 0.95s, 0.1s;
	animation-timing-function: steps(19, end), ease;
	animation-delay: 9.6s;
}

.js .search--open .terminal__line:nth-child(9) {
	animation-duration: 0.5s, 0.1s;
	animation-timing-function: steps(10, end), ease;
	animation-delay: 10.55s;
}

.js .search--open .terminal__line:nth-child(10) {
	animation-duration: 0.65s, 0.1s;
	animation-timing-function: steps(13, end), ease;
	animation-delay: 11.05s;
}

.js .search--open .terminal__line:nth-child(11) {
	animation-duration: 0.6s, 0.1s;
	animation-timing-function: steps(12, end), ease;
	animation-delay: 11.7s;
}
.js .search--open .terminal__line:nth-child(12) {
	animation-duration: 0.6s, 0.1s;
	animation-timing-function: steps(12, end), ease;
	animation-delay: 12.2s;
}
.js .search--open .terminal__line:nth-child(13) {
	animation-duration: 3s, 0.1s;
	animation-timing-function: steps(190, end), ease;
	animation-delay: 13s;
}
.connecting-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 0 auto;
}

canvas{
  position: absolute;
  z-index: 1
}
.home {
    position: absolute;
		top: 0;
    bottom: 0;
    left: 0;
		right: 0;
    background-color: #000;
    z-index: 9999;
		-webkit-animation: move 1s; /* Safari 4+ */
	  	 -moz-animation: move 1s; /* Fx 5+ */
	       -o-animation: move 1s; /* Opera 12+ */
	  	 			animation: move 1s; /* IE 10+, Fx 29+ */
}
.home_container{
		animation-delay: 1s;
		-webkit-animation: show 1s; /* Safari 4+ */
			 -moz-animation: show 1s; /* Fx 5+ */
				 -o-animation: show 1s; /* Opera 12+ */
						animation: show 1s; /* IE 10+, Fx 29+ */
}
.close_home {
    padding: 1px 10px 6px 10px;
    position: absolute;
    top: 70px;
    right: 80px;
    font-size: 30px;
    border: 1px solid;
		cursor: pointer;
}
.home_container h2 {
        position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3em;
}
.home_container p{
        position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
}
@keyframes move {
		0% {
			right: 5000px;
		}
		30% {
			right: 2000px;
		}
		100% {
			right: 0;
	}
}
@keyframes move {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
	}
}


/* Type animation by Lea Verou http://lea.verou.me/2012/02/simpler-css-typing-animation-with-the-ch-unit/ */
@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes scaleUp {
	from {
		height: 0;
	} to {
		height: 1.5em;
	}
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transition: opacity 0.5s;
}

.search--open .btn--search-close {
	opacity: 1;
}

/* Search form with input and description */

.js .search__form {
	opacity: 0;
}

.js .search--open .search__form {
	opacity: 1;
	transition: opacity 0.3s 3.35s;
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
	.search {
		padding: 0.5em;
	}
}
@media screen and (max-width: 40em) {
	.search-wrap {
		font-size: 0.85em;
		position: absolute;
		top: 2.15em;
		right: 2em;
	}
	.bottom-nav {
		padding: 0.5em;
	}
	.codrops-demos {
		text-align: center;
	}
	.codrops-demos a {
		margin-bottom: 1em;
	}
	.codrops-demos span {
		display: block;
		margin: 0 auto 1em;
		text-align: center;
	}
}



.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: red;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: red;
  }
}
